:root {
  --max-width: 1200px;
  --color-primary: #333333;
  --letter-spacing: -0.035em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Space Mono", monospace;
  color: var(--color-primary);
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
  margin-right: 1rem;
  margin-left: 1rem;
  width: calc(100% - 2rem);
  max-width: var(--max-width);
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

header,
footer {
  padding: 40px 0;
}
header > span {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.page_error {
  display: flex;
}

.page_error--image > img {
  width: 450px;
  height: auto;
  margin-right: 119px;
  animation: balance 2s infinite alternate-reverse;
}
.page_error--description > h2 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 24px;
  margin-top: 0;
}

.page_error--description > p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: var(--letter-spacing);
}

.page_error--description > a {
  background-color: var(--color-primary);
  width: 216px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 68px;
  letter-spacing: var(--letter-spacing);
  display: block;
  height: 68px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .page_error--image > img {
    width: 400px;
    margin-right: 100px;
  }

  .page_error--description > h2 {
    font-size: 58px;
    margin-bottom: 20px;
  }

  .page_error--description > p {
    margin-bottom: 26px;
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  header {
    padding-top: 20px;
  }

  .page_error--image {
    text-align: center;
    margin-bottom: 40px;
  }
  .page_error--image > img {
    width: 286px;
    margin-right: 0px;
  }

  .page_error--description > h2 {
    font-size: 48px;
  }

  .page_error--description > p {
    margin-bottom: 60px;
    font-size: 18px;
  }

  .page_error {
    flex-direction: column;
  }
}

footer > span {
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat;
}

footer {
  text-align: center;
}

@keyframes balance {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
